@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

body {
    width: 100vw;
}

form {
    margin: 10vh auto;
    padding: 40px;
    width: 80vw;
    border: 5px solid dodgerblue;
    border-radius: 50px;
}

label:first-child {
    display: block;
    font-weight: 700;
    color: dodgerblue;
    text-transform: uppercase;
}

input {
    font-size: 25px;
    margin: 10px 30px;
    padding: 0 10px;
    border: 2px solid dodgerblue;
    border-radius: 20px;
}

button {
    font-size: 20px;
    margin: 20px;
    padding: 5px 15px;
    background-color: lightblue;
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

input:active, input:focus, button:active, button:focus {
    outline: none;
    border-color: darkblue;
    transition: 0.5s;
}

.error-message {
    padding: 10px;
    display: none;
	position: relative;
	background: #fbcad4;
    border: 3px solid #d2062b;
    border-radius: 15px;
    color: #d2062b;
}
.error-message:after, .error-message:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.error-message:after {
	border-right-color: #fbcad4;
	border-width: 7px;
	margin-top: -7px;
}
.error-message:before {
	border-right-color: #d2062b;
	border-width: 12px;
	margin-top: -12px;
}

